body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #145DA0 0%,  #7faec9 100%);
    color: white;
    text-align: center;
    padding-top: 150px;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
  }

  #heading{
    font-size: 40px;
    margin: 0;
    font-weight: bold;
  }
  p{
    padding: 0 10px;
  }
  .social{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;  
  }
  .icon{
    margin: 0 10px;
  }
  #anchor{
    color: #fff;
  }

  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  #footer{
    margin: 5px;
  }